<!DOCTYPE html>
<html lang="en">
<!-- Head.ejs -->
<%- include ('../partials/head.ejs') %> 
<body>
    <!-- Header.ejs -->
    <%- include ('../partials/header.ejs')  %> 
    <main class="create_edit-main">
        <div class="formulario-de-create_edit">
            <div class="form-select-create_edit">
                <div class="select1-create">
                <a>
                    <h2>Crear producto</h2>
                </a>
                </div>
            </div>
            <form class="create_edit" action="/products" method="POST" enctype="multipart/form-data">
                <div class="form-data-create_edit">
                    <label class="create_edit"> Nombre del Producto: </label>
                    <input 
                        type="text" 
                        name="name" 
                        id="name"
                        value= "<%= locals.oldData ? oldData.name: null %>" 
                    >
                    <% if (locals.errors && errors.name) { %>
                        <div class="form-error">
                            <%= errors.name.msg %>
                    </div>
                    <% } %>
                </div>
                <div class="form-data-create_edit">
                    <label class="create_edit">Tipo:</label>
                    <select name="type">
                        <option value="Pastelería"
                        <%= locals.oldData && oldData.type == "Pastelería" ? "selected" : null %>
                        >
                        Pastelería
                        </option>
                        <option value="Masas"
                        <%= locals.oldData && oldData.type == "Masas" ? "selected" : null %>
                        >
                        Masas
                        </option>
                        <option value="Tortas"
                        <%= locals.oldData && oldData.type == "Tortas" ? "selected" : null %>
                        >
                        Tortas
                        </option>
                        <% if (locals.errors && errors.type) { %>
							<div class="form-error">
								<p><%= errors.type.msg %></p>
							</div> 
						<% } %>
                    </select>
                </div>
                <div class="form-data-create_edit">
                    <label class="create_edit">Precio:</label>
                    <input 
                    type="number" 
                    name="price" 
                    id="price"
                    value= "<%= locals.oldData ? oldData.price: null %>" 
                >
                <% if (locals.errors && errors.price) { %>
                    <div class="form-error">
                        <%= errors.price.msg %>
                </div>
                <% } %>
                </div>
                <div class="form-data-create_edit">
                    <label class="create_edit">Descuento:</label>
                    <input 
                    type="number" 
                    name="discount" 
                    id="discount"
                    value= "<%= locals.oldData ? oldData.discount: null %>" 
                >
                <% if (locals.errors && errors.discount) { %>
                    <div class="form-error">
                        <%= errors.discount.msg %>
                </div>
                <% } %>
                </div>                
                <div class="form-data-create_edit">
                    <label class="create_edit">Imagen:</label>
                    <input type="file" name="image"  id="image" accept=".png, .jpeg .jpg"                     
                    value= "<%= locals.oldData ? oldData.image: null %>" 
                    >
                    <% if (locals.errors && errors.image) { %>
                        <div class="form-error">
                            <%= errors.image.msg %>
                    </div>
                    <% } %>
                </div>
                <div class="form-data-create_edit">
                    <label class="create_edit">Descripción:</label>
                    <textarea name="description" id="" cols="30" rows="5"><%= locals.oldData ? oldData.description: null %></textarea>
                    <% if (locals.errors && errors.description) { %>
                        <div class="form-error">
                            <%= errors.description.msg %>
                    </div>
                    <% } %>
                </div>
                <div class="form-data-create_edit">
                    <label class="create_edit">Categoría:</label>
                        <select name="category">
                            <option value="En oferta"
                            <%= locals.oldData && oldData.category == "En oferta" ? "selected" : null %>
							>
							En oferta
							</option>
                            <option value="Destacados"
                            <%= locals.oldData && oldData.category == "Destacados" ? "selected" : null %>
							>
							Destacados
							</option>
                        </select>
                        <% if (locals.errors && errors.category) { %>
							<div class="form-error">
								<p><%= errors.category.msg %></p>
							</div> 
						<% } %>
                </div>
                <div class="form-data-create_edit">
                    <button class="form-button" type="submit" Enviar> Agregar
                </div>
            </form>
        </div>
    </main>
    <!-- Footer.ejs -->
    <%- include ('../partials/footer.ejs') %> 
</body>

</html>