<!DOCTYPE html>
<html lang="en">
<!-- Head.ejs -->
<%- include ('../partials/head.ejs') %> 
<body>
    <!-- Header.ejs -->
    <%- include ('../partials/header.ejs')  %> 
    <main class="create_edit-main">
        <div class="formulario-de-create_edit">
            <div class="form-select-create_edit">
                <div class="select1-create">
                <a>
                    <h2>Estás editando el producto:<br><i><%= locals.product && product.name || locals.oldData && oldData.name %></i></h2>
                </a>
                </div>
            </div>
            <form class="create_edit" action="/products/edit/<%= locals.product && product.id || idToUpdate %>?_method=PUT "  method="POST" enctype="multipart/form-data">
                <div class="form-data-create_edit">
                    <label class="create_edit"> Nombre del Producto: </label>
                    <input 
                        type="text" 
                        name="name" 
                        id="name"
                        value= "<%= locals.product && product.name || locals.oldData && oldData.name %>" 
                    >
                    <% if (locals.errors && errors.name) { %>
                        <div class="form-error">
                            <%= errors.name.msg %>
                    </div>
                    <% } %>
                    <div class="form-error" id="editNameError"></div>
                </div>
                <div class="form-data-create_edit">
                    <label class="create_edit">Tipo:</label>
                    <select name="type" class = 'editType'>
                        <% for (let i = 0; i < types.length; i++) {%> 
                            <option value="<%=types[i].id%>"
                                <% if (locals.oldData && oldData.typeId) { %>
                                <%=types[i].id == oldData.typeId ? 'selected' : null %>
                                <% } else { %>
                                <%=types[i].name == locals.typeId ? "selected" : null %>
                                <% } %>
                                >
                                <%=types[i].name%>
                            </option>
                            <% }; %>
                            <% if (locals.errors && errors.typeId) { %>
                                <div class="form-error">
                                    <p><%= errors.typeId.msg %></p>
                                </div> 
                            <% } %>
                    </select>
                    <div class="form-error" id="editTypeError"></div>
                </div>
                <div class="form-data-create_edit">
                    <label class="create_edit"> Precio: </label>
                    <input 
                        type="number" 
                        name="price" 
                        id="price"
                        value= "<%= locals.product && product.price || locals.oldData && oldData.price %>" 
                    >
                    <% if (locals.errors && errors.price) { %>
                        <div class="form-error">
                            <%= errors.price.msg %>
                    </div>
                    <% } %>
                    <div class="form-error" id="editPriceError"></div>
                </div>
                <div class="form-data-create_edit">
                    <label class="create_edit"> Descuento: </label>
                    <input 
                        type="number" 
                        name="discount" 
                        id="discount"
                        value= "<%= locals.product && product.discount || locals.oldData && oldData.discount  %>" 
                    >
                    <% if (locals.errors && errors.discount) { %>
                        <div class="form-error">
                            <%= errors.discount.msg %>
                    </div>
                    <% } %>
                    <div class="form-error" id="editDiscountError"></div>
                </div>
                <div class="form-data-create_edit">
                    <label class="create_edit">Imagen:</label>
                    <input type="file" name="image"  id="image" accept=".png, .jpeg .jpg"                     
                    value= "<%= locals.product && product.image %>" 
                    >
                    <% if (locals.errors && errors.image) { %>
                        <div class="form-error">
                            <%= errors.image.msg %>
                    </div>
                    <% } %>
                    <div class="form-error" id="editAvatarError"></div>
                </div>
                <div class="form-data-create_edit">
                    <label class="create_edit">Descripción:</label>
                    <textarea name="description" id="description" cols="30" rows="5" value=""><%= locals.product && product.description || locals.oldData && oldData.description %></textarea>
                    <% if (locals.errors && errors.description) { %>
                        <div class="form-error">
                            <%= errors.description.msg %>
                    </div>
                    <% } %>
                    <div class="form-error" id="editDescriptionError"></div>
                </div>
                <div class="form-data-create_edit">
                    <label class="create_edit"> Stock: </label>
                    <input 
                        type="number" 
                        name="stock" 
                        id="stock"
                        value= "<%= locals.product && product.stock || locals.oldData && oldData.stock  %>" 
                    >
                    <% if (locals.errors && errors.stock) { %>
                        <div class="form-error">
                            <%= errors.stock.msg %>
                    </div>
                    <% } %>
                    <div class="form-error" id="editStockError"></div>
                </div>
                <div class="form-data-create_edit">
                    <label class="create_edit">Categoría:</label>
                        <select name="category">
                            <% for (let i = 0; i < categories.length; i++) {%> 
                                <option value="<%=categories[i].id%>"
                                    <% if (locals.oldData && oldData.categoryId) { %>
                                    <%=categories[i].id == oldData.categoryId ? 'selected' : null %>
                                    <% } else { %>
                                    <%=categories[i].name == locals.categoryId ? "selected" : null %>
                                    <% } %>
                                    >
                                    <%=categories[i].name%>
                                </option>
                                <% }; %>
                                <% if (locals.errors && errors.categoryId) { %>
                                    <div class="form-error">
                                        <p><%= errors.categoryId.msg %></p>
                                    </div> 
                                <% } %>
                        </select>
                    <div class="form-error" id="editCategoryError"></div>
                </div>
                <div class="form-data-buttons">
                    <button class="form-button" type="submit" Enviar> Actualizar</button>
                </div>
            </form>
        </div>
    </main>
    <!-- Footer.ejs -->
    <%- include ('../partials/footer.ejs') %> 

    <script src="/js/productEditValidator.js"></script>
    <script src="/js/validator.js"></script>
</body>

</html>