<!DOCTYPE html>
<html lang="en">
<!-- Head.ejs -->
<%- include ('../partials/head.ejs') %> 
<body>
    <!-- Header.ejs -->
    <%- include ('../partials/header.ejs')  %> 
    <main class="create_edit-main">
        <div class="formulario-de-create_edit">
            <div class="form-select-create_edit">
                <div class="select1-create">
                <a>
                    <h2>Editar producto</h2>
                </a>
                </div>
            </div>
            <form class="create_edit" action="/products/create" method="GET">
                <div class="form-data-create_edit">
                    <label class="create_edit">Id Código del producto:</label>
                    <input type="number" name="Código" id="Código" value="<%= product.id %>" required>
                </div>
                <div class="form-data-create_edit">
                    <label class="create_edit">Nombre del Producto:</label>
                    <input type="text" name="nombre" id="nombre" value="<%= product.name %>" required >
                </div>
                <div class="form-data-create_edit">
                    <label class="create_edit">Tipo:</label>
                    <select name="Categoria">
                        <option value="Pasteleria" Pastelería <%= product.type == "Pastelería" ? "selected" : "" %>> Pastelería </option>
                        <option value="Masas" <%= product.type == "Masas" ? "selected" : "" %>> Masas </option>
                        <option value="Tortas" <%= product.type == "Tortas" ? "selected" : "" %>> Tortas </option>
                    </select>
                </div>
                <div class="form-data-create_edit">
                    <label class="create_edit">Precio:</label>
                    <input type="number" name="precio" id="precio" value="<%= product.price %>" required>
                </div>
                <div class="form-data-create_edit">
                    <label class="create_edit">Imagen:</label>
                    <input type="file" name="imagen"  id="imagen" accept=".png, .jpeg .jpg" value="<%= product.image%>" required>
                </div>
                <div class="form-data-create_edit">
                    <label class="create_edit">Descripción:</label>
                    <textarea name="descripcion" id="" cols="30" rows="5" required><%= product.description %></textarea>
                </div>
                <div class="form-data-create_edit">
                    <label class="create_edit">Categoría:</label>
                        <select name="categoria">
                            <option value="En oferta" <%= product.category == "En oferta" ? "selected" : "" %>> En oferta </option>
                            <option value="Destacados" <%= product.category == "Destacados" ? "selected" : "" %>> Destacados </option>
                        </select>
                </div> 
                <div class="form-data-create_edit">
                    <button class="form-button" type="submit" Enviar> Actualizar
                </div>
            </form>
        </div>
    </main>
    <!-- Footer.ejs -->
    <%- include ('../partials/footer.ejs') %> 
</body>

</html>