<!DOCTYPE html>
<html lang="en">
<!-- Head.ejs -->
<%- include ('../partials/head.ejs') %> 
<body>
    <!-- Header.ejs -->
    <%- include ('../partials/header.ejs')  %> 
    <main>
        <section class="carrusel">
                <img src="/images/Productos/PrincImg.jpg">
            </nav>
        </section>
        <section class="Nosotros">
            <h2><%= nosotros.titulo %></h2> 
            <p class="texto"><%= nosotros.descripcion1 %>
                <br>
                <%= nosotros.descripcion2 %>
                </p>
        </section>
               <!-- productosDestacados.ejs -->
               <!-- for each -->
               <%- include ('../partials/productosDestacados.ejs')  %> 
    </main>
    <!-- Footer.ejs -->
    <%- include ('../partials/footer.ejs') %> 
</body>
</html>