<!DOCTYPE html>
<html lang="en">
<!-- Head.ejs -->
<%- include ('../partials/head.ejs') %> 
<body>
    <!-- Header.ejs -->
    <%- include ('../partials/header.ejs')  %> 
    <main class="resumen-compras">
    <section class="carro">
        <div class="contenedor-compras">
            <div class="articulos-productCart">
                <h4>Articulos en tu carrito:</h4>
                <div class="menu-carro">
                    <p class="p1">PRODUCTO</p>
                    <p class="p2">PRECIO</p>
                    <p class="p2C">CANT.</p>
                    <p class="p3">DCTO %</p>
                    <p class="p3">TOTAL</p>
                    <i class="p3"></i>
                </div>
                <% if (locals.order.length > 0) { %>
                <% order.forEach(order => { %>
                <div class="productos-carro">
                    <p class="p1"><a href="/products/productDetails/<%= order.product.id %>"><%= order.product.name%></a></p>
                    <% if(order.product.discount > 0) { 
                        let finalPrice = (order.product.price * ((100 -order.product.discount) / 100)).toFixed(0)
                    %>
                    <p class="p2">$<%= toThousand(order.product.price) %></p>
                    <input type="number" value="1" min="1" max="100">
                    <p class="p3"><%= order.product.discount %></p>
                    <p class="p3">$ <%= toThousand(finalPrice) %></p>
                    <% } else { %>
                    <p class="p2">$ <%= toThousand(order.product.price)  %></p>
                    <input type="number" value="1" min="1" max="100">
                    <p class="p3"><%= order.product.discount %></p>
                    <p class="p3">$ <%= toThousand(order.product.price) %></p>
                    <% } %>
                    <form  clase="i" action="/products/deleteFromCart/<%= order.product.id %>?_method=delete" method="POST">
                        <button type="submit"><i class="far fa-trash-alt"></i> </button> 
                    </form>                 
                </div>
                <% }) %>

            </div>
            <h4>Cupón de descuento</h4>
            <div class="cupon-productCart">
                <div class="form-cupon" action="#" method="GET">
                    <input type="text" name="codigo" id="codigo" placeholder="Código">
                    <button class="form-button-descuento" >Aplicar descuento</button>
                </div>
            </div>
            </div>
        <div class="total-productCart">
            <div class="text-comprar">
                <p>
                    La confirmación de su pedido no garantiza la existencia de stock.  
                </p>
            </div>
            <div class="compra-total">
                <p class="compra-list">
                    Subtotal
                    <br>
                    Descuento
                    <br>
                    TOTAL          
                <p class="compra-importe">
                    $<%= order.map(order => Math.floor(order.product.price)).reduce((acum, sum) => acum + sum) %>
                    <br>
                    $<%= order.map(order => Math.floor(order.product.price * (order.product.discount / 100))).reduce((acum, sum) => acum + sum) %>
                    <br>
                    $<%= order.map(order => Math.floor(order.product.price - (order.product.price * (order.product.discount / 100)))).reduce((acum, sum) => acum + sum) %>
                </p>
            </div>
            <button class="form-button-carro">Realizar pedido</button>
            <a href="/products"><button class="form-button-carro">Seguir Comprando</button></a>
        </div>
    </section>
    <% } else { %>
            <h2 style="text-align: center; margin-top: 50px">NO HAY PRODUCTOS EN SU CARRITO</h2>
        <% } %> 
</main>
    <!-- Footer.ejs -->
    <%- include ('../partials/footer.ejs') %> 
</body>
</html>