<!DOCTYPE html>
<html lang="en">
  <!-- Head.ejs -->
  <%- include ('../partials/head.ejs') %>
  <body>
    <!-- Header.ejs -->
    <header>
      <section class="top-header">
          <figure class="logo">
              <a href="/"><img src="/images/PavlovaColor.png" alt="Logo de Pavlova"></a>
          </figure>
          <div class="name">Pavlova</div>
          <form class="form" method="GET" action="/products/buscar">
              <button type="submit" class="submit">
                  <i class="fa fa-search"></i>
              </button>
              <input type="text" name="search" class="input" placeholder="Buscar" >
          </form>
          <div class="iconos">    
              <div class="no-vis">
                  <% if (!locals.isLogged) { %>
                  <a href="/users/register"><p class="opc-menu">Cre치 tu cuenta </p><i class="far fa-address-card"></i></a>
                  <a href="/users/login"><p class="opc-menu">Ingres치 </p><i class="fas fa-user-circle"></i></a>
                  <% } else { %>
  
                      <a href="/users/profile/<%= locals.userLogged.id %>"><p class="opc-menu"></p><img src="/images/avatars/default-user.png  %>" alt="img-perfil"></i></a>
                      <a href="/users/logout"><p class="opc-menu">Cerrar Sesi칩n </p><i class="fas fa-sign-out-alt"></i></a>
                          <% } %>
              </div>
                  <div class="car-comp">
                  <a href="/products/productCart"><i class="fas fa-shopping-bag"></i></a>
                  </div>
          </div>
      </section>
     <section>
      <nav>
          <% if (!locals.isLogged == 1) { %>
          <ul class="submenu">
              <li><a href="/">Nosotros</li></a>
              <li><a href="/products/pasteleria">Pasteleria</li></a>
              <li><a href="/products/masas">Masas</li></a>
              <li><a href="/products/tortas">Tortas</li></a>
              <% } else  {%>
                  <% if (locals.userLogged.roleId == 1) { %>
                      <ul class="submenu">
                          <li><a href="/">Nosotros</li></a>
                          <li><a href="/products/pasteleria">Pasteleria</li></a>
                          <li><a href="/products/masas">Masas</li></a>
                          <li><a href="/products/tortas">Tortas</li></a>
                          <li><a href="/products/productedit">Editar</li></a>
                          <li><a href="/products/create">Crear</li></a>
              <% } else  {%>
                  <% if (locals.userLogged.roleId == 2 || " ") { %>
                      <ul class="submenu">
                          <li><a href="/">Nosotros</li></a>
                          <li><a href="/products/pasteleria">Pasteleria</li></a>
                          <li><a href="/products/masas">Masas</li></a>
                          <li><a href="/products/tortas">Tortas</li></a>
                      <% } %>
                   <% } %>
              <% } %>
          </ul>
      </nav>
      <div class="desplegable-menu">
          <i class="fa-solid fa-circle-chevron-down"></i>
      </div>
      </section>
  </header>
    <main>
      <div class="p-details-cake">
        <section class="destacados">
          <h3 class="pdest">Nuestros productos</h3>
          <div class="imgprod">
        <% if (locals.products && products.length > 0) { %>
        <% products.forEach(product => { %>
          <article>
              <figure>
                  <a href="/products/productDetails/<%= product.id %>"><img src="/images/products/<%= product.Images[0].fileName %> "></a>
              </figure>
              <div class="descripciondest">
                  <i class="fa-solid fa-basket-shopping"></i>
                  <div class="info-product">
                      <p class="name-product"><%= product.name %></p>
                      <% if(product.discount > 0) { 
                        let finalPrice = (product.price * ((100 - product.discount) / 100)).toFixed(0)
                      %>
                        <p class="product-detail-price discount">
                          <span>$<%= toThousand(product.price) %></span>
                          <b><%= product.discount %>% OFF</b>
                        </p>
                        <p class="product-detail-price-list">
                          $<%= toThousand(finalPrice) %>
                        </p>
                      <% } else { %>
                        <p class="product-detail-price-list">
                          $<%= toThousand(product.price) %>
                        </p>
                      <% } %>
                  </div>
              </div>
          </article>
      <% }) %>
      <% } else { %> 
                    <h2> Estamos trabajando en la elaboraci칩n de otros deliciosos productos </h2>
                <% }%>
      </div>
      </section>
    </main>
    <!-- Footer.ejs -->
    <%- include ('../partials/footer.ejs') %>
  </body>
</html>
