<!DOCTYPE html>
<html lang="en">
  <!-- Head.ejs -->
  <%- include ('../partials/head.ejs') %>
  <body>
    <!-- Header.ejs -->
    <%- include ('../partials/header.ejs') %>
    <main>
      <div class="p-details-cake">
        <section class="destacados">
          <h3 class="pdest">Seleccione el producto a editar</h3>
          <div class="imgprod">
        <!-- Foreach que ayuda a evitar crear varios articulos de forma estatica -->
        <% products.forEach(product => { %>
          <article class="list-edit">
              <figure>
                <a href="/products/productDetails/<%= product.id %>">
                  <img src="/images/products/<%= product.Images[0].fileName %> "></a>
              <div class="descripciondest">
                  <div class="info-product">
                      <p class="name-product"><%= product.name %></p>
                  </div>
                  <div class="edit-delete-page">
                  <a href="/products/edit/<%= product.id %>"> <button class="botton-no-format" type="submit">EDITAR</button></a>
	                <form class="delete-form" action="/products/delete/<%= product.id %>?_method=DELETE" method="POST">
                  <button type="submit" class="botton-no-format">ELIMINAR</button>
                  </form>
                </div>
              </div>
          </article>
      <% }) %>
      </div>
      </section>
    </main>
    <!-- Footer.ejs -->
    <%- include ('../partials/footer.ejs') %>
  </body>
</html>
