<!DOCTYPE html>
<html lang="en">
  <!-- Head.ejs -->
  <%- include ('../partials/head.ejs') %>
  <body>
    <!-- Header.ejs -->
    <%- include ('../partials/header.ejs') %>
    <main>
      <div class="p-details-cakes">
        <!-- Foreach que ayuda a evitar crear varios articulos de forma estatica -->
        <section class="cajaProd-pDetail">
          <div class="imgProduct-pDetail">
            <img
              src="/images/Productos/<%= product.image %>"
              alt="<%= product.nombre %>"
            />
          </div>
          <section class="producto-pDetail">
            <div class="nombreProd-pDetail"><%= product.name %></div>
            <div class="nombreProd-pDetail">
              Precio: $ <%= product.price %>
            </div>
            <div class="descripcionProd-pDetail">
              <%= product.description %>
            </div>
            <div class="boxbotonCompra-pDetail">
              <a href="/products/productCart"
                ><button class="botonCompra-pDetail">
                  Sumar al carrito
                </button></a
              >
            </div>
          </section>
        </section>
      </div>
      <section class="destacados">
        <h3 class="pdest">Más deliciosos productos para deleitarse!</h3>
        <div class="imgprod">
            <!-- Foreach que ayuda a evitar crear varios articulos de forma estatica -->
            <% destacados.forEach(product => { %>
                <%- include ('../partials/article.ejs',{product})  %> 
            <% }) %>
        </div>
    </section>
    </main>
    <!-- Footer.ejs -->
    <%- include ('../partials/footer.ejs') %>
  </body>
</html>
