<article>
    <figure>
        <a href="/products/productDetails/<%= product.id %>">
        <img src="/images/products/<%= product.Images[0].fileName %> "></a>
    </figure>
        <div class="descripciondest">
            <i class="fa-solid fa-basket-shopping"></i>
                <div class="info-product">
                    <p class="name-product"><%= product.name %></p>
                    <% if(product.discount > 0) { 
                        let finalPrice = (product.price * ((100 - product.discount) / 100)).toFixed(0)
                    %>
                        <p class="price">
                            <span id="discoun">$<%= toThousand(product.price) %></span>
                            <span><%= product.discount %>% OFF</span>
                        </p>
                        <p class="price">
                            $<%= toThousand(finalPrice) %>
                        </p>
                    <% } else { %>
                        <p class="price">
                            $<%= toThousand(product.price) %>
                        </p>
                    <% } %>

                </div>
        </div>
</article>
