<!DOCTYPE html>
<html lang="en">
<!-- Head.ejs -->
<%- include ('../partials/head.ejs') %> 
<body>
        <!-- Header.ejs -->
        <%- include ('../partials/header.ejs')  %> 
    <main >
        <div class="login" >
            <div class="form-container">
              <h1 class="title">Inicia sesión</h1>
              <form class="form-login" action="/users/login" method="POST">
                <label for="email" class="label">Email:</label>
                <input 
                    placeholder="name@mail.com"
                    class="input-login input-email"
                    type="email" 
                    name="email" 
                    id="email" 
                    value="<%= locals.oldData ? oldData.email: null %>">
                <% if (locals.errors && errors.email) { %>
                  <div class="form-error">
                      <%= errors.email.msg %>
                </div>
                <% } %>
                <div class="form-error" id="loginEmailError"></div>
                <label for="contraseña" class="label"> Contraseña: </label>
                <input 
                    placeholder="******"
                    class="input-login input-password"
                    type="password" 
                    name="password"  
                    id="password"  
                    value= "<%= locals.oldData ? oldData.password: null %>">
              <% if (locals.errors && errors.password) { %>
                  <div class="form-error">
                      <%= errors.password.msg %>
                  </div>
              <% } %>
              <div class="form-error" id="loginPasswordError"></div>
                <!-- button area -->
                  <input class="primary-button login-button" type="submit" value="Ingresar"> 
                  <a href="/"\> ¿Olvidó su Contraseña? </a>
              </form>
              <a href="/users/register"><button class="secondary-button signup-button">  Registrate </button></a>
            </div>
          </div>
    </main>
    <!-- Footer.ejs -->
    <%- include ('../partials/footer.ejs') %> 

    <script src="/js/validator.js"></script>
    <script src="/js/userLoginValidator.js"></script>
</body>

</html>