<!DOCTYPE html>
<html lang="en">
<!-- Head.ejs -->
<%- include ('../partials/head.ejs') %> 
<body>
        <!-- Header.ejs -->
        <%- include ('../partials/header.ejs')  %> 
    <main class="login-main">
        <div class="formulario-de-login">
            <div class="form-select-login">
                <div class="select1-login">
                    <h2>Formulario de Ingreso</h2>
                </div>
            </div>
            <form class="login" action="/users/login" method="POST">
                <div class="form-data-login">
                    <label for="email"> Email: </label>
                    <input 
                        type="email" 
                        name="email" 
                        id="email"
                        value= "<%= locals.oldData ? oldData.email: null %>" 
                    >
                    <% if (locals.errors && errors.email) { %>
                        <div class="form-error">
                            <%= errors.email.msg %>
                    </div>
                    <% } %>
                </div>
                <div class="form-data-login">
                    <label for="contraseña"> Contraseña: </label>
                    <input 
                        type="password" 
                        name="password" 
                        id="password"
                        value= "<%= locals.oldData ? oldData.password: null %>" 
                    >
                    <% if (locals.errors && errors.password) { %>
                        <div class="form-error">
                            <%= errors.password.msg %>
                    </div>
                    <% } %>
                </div>
                <div class="form-data-login">
                    <button class="form-button-submit-login" type="submit" Enviar> Aceptar
                </div>
                <div class="recuperar-password-login">
                    <input type="checkbox" name="rememberUser" id="rememberUser">
                    ¿Olvidó su Contraseña?
                </div>
                <div class="select2-login">
                    <a href="/users/register">Crear Cuenta</a>
                    </a>
                </div>
            </form>
        </div>
    </main>
    <!-- Footer.ejs -->
    <%- include ('../partials/footer.ejs') %> 
</body>

</html>