<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head', { title: "Formulario de Login"}) %>
<body>
	<%- include('../partials/header') %>
	
	<div>
		<div class="welcome-profile">
			<h2>Bienvenid@ <%= locals.userLogged.fullname %></h2>
			<figure>
				<img src="/images/avatars/<%= locals.userLogged.photo %>" alt="img-perfil">
			</figure>
		</div>
		<div class="detail-user">
			<div class="info-user">
				<h3>Nombre Completo:</h3>
                <h4><%= locals.userLogged.fullname %></h4>
			</div>
			<div class="info-user">
				<h3>Correo Electrónico:</h3>
                <h4><%= locals.email %></h4>
			</div>
			<div class="info-user">
				<h3>Teléfono.</h3>
                <h4><%= locals.userLogged.phonenumber %></h4>
			</div>
			<div class="info-user">
				<h3>Direccion:</h3>
                <h4><%= locals.userLogged.address %></h4>
			</div>	
			<div class="info-user">
				<h3>Ciudad: </h3>
                <h4><%= locals.userLogged.city %></h4>
			</div>
			<div class="info-user">
				<% if (locals.userLogged.roleId == 1) { %>
				<h3>Rol: </h3>
                <h4>Administrador%></h4>
				<% } else { %>
				<h3>Rol: </h3>
				<h4>Usuario%></h4>
					<% }%>
			</div>	
			<div>
                <!-- <form action="/users/edit/<%= locals.userLogged.id %>" method="GET"> -->
                <button type="submit" class="form-button-descuento">Editar Datos</button>
                <!-- </form> -->
			</div>
		</div>
	</div>
	<%- include('../partials/footer'); %>
</body>
</html>