<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head', { title: "Formulario de Login"}) %>
<body>
	<%- include('../partials/header') %>
	
	<div>
		<div class="welcome-profile">
			<h2>Bienvenid@ <%= locals.usuarioLogueado.nombre %></h2>
			<figure>
				<img src="/images/avatars/<%= locals.usuarioLogueado.image %>" alt="img-perfil">
			</figure>
		</div>
		<div class="detail-user">
			<div class="info-user">
				<h3>Nombre Completo</h3>
                <h4><%= locals.usuarioLogueado.nombre %></h4>
			</div>
			<div class="info-user">
				<h3>Correo Electrónico</h3>
                <h4><%= locals.usuarioLogueado.email %></h4>
			</div>
			<div class="info-user">
				<h3>Telefono</h3>
                <h4><%= locals.usuarioLogueado.telefono %></h4>
			</div>	
			<div class="info-user">
				<h3>Direccion</h3>
                <h4><%= locals.usuarioLogueado.direccion %></h4>
			</div>	
			<div class="info-user">
				<h3>Ciudad</h3>
                <h4><%= locals.usuarioLogueado.ciudad %></h4>
			</div>	
			<div>
                <!-- <form action="/users/edit/<%= locals.usuarioLogueado.id %>" method="GET"> -->
                <button type="submit" class="form-button-descuento">Editar Datos</button>
                <!-- </form> -->
			</div>
		</div>
	</div>
	<%- include('../partials/footer'); %>
</body>
</html>